USE [LKSN2017]
GO
/****** Object:  Table [dbo].[Class]    Script Date: 5/15/17 3:03:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Class](
	[ClassName] [varchar](5) NOT NULL,
	[Grade] [int] NULL,
 CONSTRAINT [PK_Class] PRIMARY KEY CLUSTERED 
(
	[ClassName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetailClass]    Script Date: 5/15/17 3:03:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetailClass](
	[DetailClassId] [int] IDENTITY(1,1) NOT NULL,
	[ClassName] [varchar](5) NULL,
	[StudentId] [varchar](8) NULL,
 CONSTRAINT [PK_DetailClass$] PRIMARY KEY CLUSTERED 
(
	[DetailClassId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetailSchedule]    Script Date: 5/15/17 3:03:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetailSchedule](
	[DetailId] [int] IDENTITY(1,1) NOT NULL,
	[ScheduleId] [int] NULL,
	[SubjectId] [char](5) NULL,
	[TeacherId] [char](5) NULL,
	[Day] [varchar](10) NULL,
	[ShiftId] [int] NULL,
 CONSTRAINT [PK_DetailSchedule$] PRIMARY KEY CLUSTERED 
(
	[DetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HeaderSchedule]    Script Date: 5/15/17 3:03:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HeaderSchedule](
	[ScheduleId] [int] IDENTITY(1,1) NOT NULL,
	[ClassName] [varchar](5) NULL,
	[Finalize] [int] NULL,
 CONSTRAINT [PK_HeaderSchedule$] PRIMARY KEY CLUSTERED 
(
	[ScheduleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shift]    Script Date: 5/15/17 3:03:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shift](
	[ShiftId] [int] NOT NULL,
	[Time] [char](13) NULL,
 CONSTRAINT [PK_Shift$] PRIMARY KEY CLUSTERED 
(
	[ShiftId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 5/15/17 3:03:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[StudentId] [varchar](8) NOT NULL,
	[Name] [varchar](50) NULL,
	[Address] [varchar](150) NULL,
	[Gender] [varchar](7) NULL,
	[DateofBirth] [date] NULL,
	[PhoneNumber] [varchar](12) NULL,
	[Photo] [varchar](100) NULL,
 CONSTRAINT [PK_Student$] PRIMARY KEY CLUSTERED 
(
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subject]    Script Date: 5/15/17 3:03:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subject](
	[SubjectId] [char](5) NOT NULL,
	[Name] [varchar](50) NULL,
	[Assignment] [int] NULL,
	[MidExam] [int] NULL,
	[FinalExam] [int] NULL,
	[Shift] [int] NULL,
	[ForGrade] [int] NULL,
 CONSTRAINT [PK_Subject$] PRIMARY KEY CLUSTERED 
(
	[SubjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teacher]    Script Date: 5/15/17 3:03:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teacher](
	[TeacherId] [varchar](8) NOT NULL,
	[Name] [varchar](50) NULL,
	[PhoneNumber] [varchar](12) NULL,
	[DateofBirth] [date] NULL,
	[Gender] [varchar](7) NULL,
	[Address] [varchar](100) NULL,
	[Photo] [varchar](100) NULL,
 CONSTRAINT [PK_Teacher$] PRIMARY KEY CLUSTERED 
(
	[TeacherId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 5/15/17 3:03:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[userid] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](8) NULL,
	[password] [varchar](10) NULL,
	[role] [varchar](8) NULL,
 CONSTRAINT [PK_User$] PRIMARY KEY CLUSTERED 
(
	[userid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Class] ([ClassName], [Grade]) VALUES (N'XA', 1)
INSERT [dbo].[Class] ([ClassName], [Grade]) VALUES (N'XB', 1)
INSERT [dbo].[Class] ([ClassName], [Grade]) VALUES (N'XIA', 2)
SET IDENTITY_INSERT [dbo].[DetailClass] ON 

INSERT [dbo].[DetailClass] ([DetailClassId], [ClassName], [StudentId]) VALUES (1, N'XA', N'20170001')
INSERT [dbo].[DetailClass] ([DetailClassId], [ClassName], [StudentId]) VALUES (2, N'XA', N'20170002')
INSERT [dbo].[DetailClass] ([DetailClassId], [ClassName], [StudentId]) VALUES (3, N'XA', N'20170003')
SET IDENTITY_INSERT [dbo].[DetailClass] OFF
SET IDENTITY_INSERT [dbo].[DetailSchedule] ON 

INSERT [dbo].[DetailSchedule] ([DetailId], [ScheduleId], [SubjectId], [TeacherId], [Day], [ShiftId]) VALUES (1, 1, N'S1001', NULL, N'Monday', 1)
INSERT [dbo].[DetailSchedule] ([DetailId], [ScheduleId], [SubjectId], [TeacherId], [Day], [ShiftId]) VALUES (2, 1, N'S1001', NULL, N'Monday', 2)
INSERT [dbo].[DetailSchedule] ([DetailId], [ScheduleId], [SubjectId], [TeacherId], [Day], [ShiftId]) VALUES (3, 1, N'S1001', NULL, N'Monday', 3)
GO
SET IDENTITY_INSERT [dbo].[DetailSchedule] OFF
SET IDENTITY_INSERT [dbo].[HeaderSchedule] ON 

INSERT [dbo].[HeaderSchedule] ([ScheduleId], [ClassName], [Finalize]) VALUES (1, N'XA', 1)
INSERT [dbo].[HeaderSchedule] ([ScheduleId], [ClassName], [Finalize]) VALUES (2, N'XB', 0)
INSERT [dbo].[HeaderSchedule] ([ScheduleId], [ClassName], [Finalize]) VALUES (3, N'XIA', 1)
SET IDENTITY_INSERT [dbo].[HeaderSchedule] OFF
INSERT [dbo].[Shift] ([ShiftId], [Time]) VALUES (1, N'07:00 - 07:50')
INSERT [dbo].[Shift] ([ShiftId], [Time]) VALUES (2, N'07:50 - 08:40')
INSERT [dbo].[Shift] ([ShiftId], [Time]) VALUES (3, N'08:40 - 09:30')
INSERT [dbo].[Student] ([StudentId], [Name], [Address], [Gender], [DateofBirth], [PhoneNumber], [Photo]) VALUES (N'20150001', N'M. ARIF BASRI', N'264 Burrows Center', N'Male', CAST(N'1999-05-19' AS Date), N'081235509036', NULL)
INSERT [dbo].[Student] ([StudentId], [Name], [Address], [Gender], [DateofBirth], [PhoneNumber], [Photo]) VALUES (N'20150002', N'MARTINUS GAI BARA LIRA PARERA', N'2704 Barnett Avenue', N'Male', CAST(N'1999-05-20' AS Date), N'0818765488', NULL)
INSERT [dbo].[Student] ([StudentId], [Name], [Address], [Gender], [DateofBirth], [PhoneNumber], [Photo]) VALUES (N'20150003', N'MARVIN FURIANTO', N'1 Chinook Hill', N'Male', CAST(N'1999-05-21' AS Date), N'08165384904', NULL)
INSERT [dbo].[Subject] ([SubjectId], [Name], [Assignment], [MidExam], [FinalExam], [Shift], [ForGrade]) VALUES (N'S1001', N'agama', 20, 30, 50, 3, 1)
INSERT [dbo].[Subject] ([SubjectId], [Name], [Assignment], [MidExam], [FinalExam], [Shift], [ForGrade]) VALUES (N'S1002', N'PKN', 20, 30, 50, 2, 1)
INSERT [dbo].[Subject] ([SubjectId], [Name], [Assignment], [MidExam], [FinalExam], [Shift], [ForGrade]) VALUES (N'S1003', N'bahasa indonesia', 30, 35, 35, 4, 1)
INSERT [dbo].[Teacher] ([TeacherId], [Name], [PhoneNumber], [DateofBirth], [Gender], [Address], [Photo]) VALUES (N'T0001', N'Deren', N'085860619210', CAST(N'1980-08-12' AS Date), N'Male', N'Jl. Gatot Subroto No. 101, Surakarta', N'-')
INSERT [dbo].[Teacher] ([TeacherId], [Name], [PhoneNumber], [DateofBirth], [Gender], [Address], [Photo]) VALUES (N'T0002', N'Barry Ron', N'083527836201', CAST(N'1980-08-13' AS Date), N'Male', N'Jl. Bengawan Asri No. 11, Surakarta', N'-')
INSERT [dbo].[Teacher] ([TeacherId], [Name], [PhoneNumber], [DateofBirth], [Gender], [Address], [Photo]) VALUES (N'T0003', N'Merry Antony', N'081024168959', CAST(N'1980-08-14' AS Date), N'Female', N'Jl. Bumi Asri Indah No. 13, Surakarta', N'-')
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([userid], [username], [password], [role]) VALUES (1, N'T0001', N'jQDwE2oZG8', N'Teacher')
INSERT [dbo].[User] ([userid], [username], [password], [role]) VALUES (2, N'T0002', N'JkDZtsgfn2', N'Teacher')
INSERT [dbo].[User] ([userid], [username], [password], [role]) VALUES (3, N'T0003', N'Wwmw4k44Y', N'Teacher')
SET IDENTITY_INSERT [dbo].[User] OFF
ALTER TABLE [dbo].[DetailClass]  WITH CHECK ADD  CONSTRAINT [FK_DetailClass_Class] FOREIGN KEY([ClassName])
REFERENCES [dbo].[Class] ([ClassName])
GO
ALTER TABLE [dbo].[DetailClass] CHECK CONSTRAINT [FK_DetailClass_Class]
GO
ALTER TABLE [dbo].[DetailClass]  WITH CHECK ADD  CONSTRAINT [FK_DetailClass_Student] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Student] ([StudentId])
GO
ALTER TABLE [dbo].[DetailClass] CHECK CONSTRAINT [FK_DetailClass_Student]
GO
ALTER TABLE [dbo].[DetailSchedule]  WITH CHECK ADD  CONSTRAINT [FK_DetailSchedule_HeaderSchedule] FOREIGN KEY([ScheduleId])
REFERENCES [dbo].[HeaderSchedule] ([ScheduleId])
GO
ALTER TABLE [dbo].[DetailSchedule] CHECK CONSTRAINT [FK_DetailSchedule_HeaderSchedule]
GO
ALTER TABLE [dbo].[DetailSchedule]  WITH CHECK ADD  CONSTRAINT [FK_DetailSchedule_Shift] FOREIGN KEY([ShiftId])
REFERENCES [dbo].[Shift] ([ShiftId])
GO
ALTER TABLE [dbo].[DetailSchedule] CHECK CONSTRAINT [FK_DetailSchedule_Shift]
GO
ALTER TABLE [dbo].[DetailSchedule]  WITH CHECK ADD  CONSTRAINT [FK_DetailSchedule_Subject] FOREIGN KEY([SubjectId])
REFERENCES [dbo].[Subject] ([SubjectId])
GO
ALTER TABLE [dbo].[DetailSchedule] CHECK CONSTRAINT [FK_DetailSchedule_Subject]
GO
ALTER TABLE [dbo].[HeaderSchedule]  WITH CHECK ADD  CONSTRAINT [FK_HeaderSchedule_Class] FOREIGN KEY([ClassName])
REFERENCES [dbo].[Class] ([ClassName])
GO
ALTER TABLE [dbo].[HeaderSchedule] CHECK CONSTRAINT [FK_HeaderSchedule_Class]
GO
ALTER TABLE [dbo].[User]  WITH NOCHECK ADD  CONSTRAINT [FK_User_Student] FOREIGN KEY([username])
REFERENCES [dbo].[Student] ([StudentId])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Student]
GO
ALTER TABLE [dbo].[User]  WITH NOCHECK ADD  CONSTRAINT [FK_User_Teacher] FOREIGN KEY([username])
REFERENCES [dbo].[Teacher] ([TeacherId])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Teacher]
GO
